.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    &__api-key{
        width: 80vw;
        height: 40vh;
        margin: auto;
        background-color: #DDDDDD;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        @media (min-width: 860px) {
            width: 780px;
        }
    }
    &__title{
        margin-top: 5rem;
        margin-bottom: 3rem;
        text-align: center;
        color: #3331cf;
        font-weight: bold;
        font-size: 2rem;
    }
    &__input {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 40px;
        background-color: #FFFFFF;
        margin-bottom: 3rem;
    }
    &__btn-enter{
        width: 40%;
        margin: 0 auto;
        background-color: #28a745;
    }
}